
.icon-folder-open-empty:before { content: '\e800'; } /* '' */
.icon-folder-empty:before { content: '\e801'; } /* '' */
.icon-egg:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e803'; } /* '' */