#purr-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.notice {
  position: relative;
  width: 324px;
  font-size: 12px;
  line-height: 16px;
  border-left
}

.notice .close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  width: 18px;
  height: 17px;
  text-indent: -9999px;
  background: url(../images/icon-close.png) no-repeat 0 10px;

}

.notice-body {
  min-height: 40px;
  padding: 5px 5px 0 5px;
  background: #fff;
  color: #666;
  border: 1px solid #dddddd;

}

.notice-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.notice-body img {
  width: 50px;
  margin: 0 10px 0 0;
  float: left;
}

.notice-body h3 {
  margin: 0;
  font-size: 1.1em;
}

.notice-body p {
  margin: 5px 0 0 0;
  font-size: 12px;
  line-height: 1.4em;
}