/* Special styles to line header elements up in the startup guide (wizard) section */

body.wizard-page {

/*  @media (min-width: 720px) {
    #header {
      .header--wrapper {
        width: auto;
        max-width: $max-site-width;
        padding: 0 25px;
        
      }
      .header__logo {
        width: 17.5em;
      }
      .header__logo-image {
        height: 38px;
        float: left;
        padding-right: 35px;
      }
      .header__region {
        width: auto;
      }
      .menu {
        margin-left: 28px;
      }
    }
  }*/

}
