/**
 * @file
 * Styles for Personalize administrative interfaces.
 */

/**
 * Goals
 */
.personalize-goal .form-item label {
  margin: 0;
}

.personalize-goals-wrapper {
  margin-bottom: 1.4em;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;    
  transition: all 1s ease-in-out;
}

.personalize-goal .form-item {
  display: inline-block;
  margin-right: .25em;
  padding: 0;
  vertical-align: bottom;
}

.personalize-goal-triggers {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 9px;
}

/* For submit buttons to appear as add action link.
* @todo would much rather use action-link style from theme instead but it is
* specific to "ul.action-links a" selector in Ember and we need a submit button.
*/
button.personalize-add-link,
input[type="submit"].personalize-add-link {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
button.personalize-add-link:hover,
input[type="submit"].personalize-add-link:hover {
  background: transparent;
}
.personalize-admin-content-header input.personalize-add-link {
  font-size: inherit;
}
/* The + before the Add Goals button */
/* Link look alike styling for add a goal button */
.personalize-add-link-prefix:after {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: .2em;
}
/* Align with preview link within content variation sets */
.personalize-option-set-winner button.personalize-add-link {
  height: 1.41421em;
  line-height: 1.41421em;
  font-weight: 200;
}

/* smaller to align with text fields.
 * @todo would much rather have these simply be "x" icons -KO. 
*/
button.personalize-delete-goal, button.personalize-delete-context {
  margin-bottom: 10px;
}
.personalize-content-variation .personalize-admin-enumerated-item+.personalize-option-set-winner {
  border-left: 1px solid #000;
  padding-left: .5em;
  margin-left: .5em;
}

/* Make the remove context buttons line up with the form elements */
div.personalize-variation-row div.personalize-remove-context {
  padding-top: 1.4em;
}
.personalize-wizard-variation-sets .personalize-option-header h3 .personalize-admin-enumerated-item {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  max-width: 500px;
  white-space: nowrap;
}

.personalize-content-variation div.personalize-admin-enumerated-item .personalize-content-variation-control,
.personalize-content-variation div.personalize-admin-enumerated-item .personalize-content-variation-winner {
  display: inline-block;
  margin-left: 1.5em;
  font-weight: normal;
  background-image: url('../images/check_8AC340.png');
  background-image: url('../images/check_8AC340.svg'), none;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding-left: 22px;
}
.personalize-option-set-report {
  display:inline-block;
}
.personalize-option-set-report .personalize-stat {
  margin: 0 .25em;
}
.personalize-option-set-report,
.personalize-option-header-item {
  border-right: 1px solid;
  margin-right: .5em;
  padding-right: .5em;
  font-weight: normal;
  text-transform: lowercase;
}
.personalize-option-header-item:last-child {
  border-right: none;
}
.personalize-content-variation .personalize-admin-enumerated-item {
  font-weight: bold;
}
.personalize-content-variation .personalize-admin-enumerated-item a {
  font-weight: normal;
}
.personalize-variation-row {
  clear: both;
  margin-bottom: .5em;
  width: 100%;
  display: inline-block;
}
.personalize-variation-row div {
  float: left;
}
.personalize-variation-row div.personalize-target-wrapper {
    clear: both;
}
div.personalize-target-wrapper div.form-item {
    padding: 0 10px 0 0;
}

#personalize-agent-page-messages .personalize-alert {
  font-weight: bold;
  color: red;
}

.personalize-admin-optional {
  color: #999;
}
.personalize-admin-optional-trigger {
  margin-left: 0.4em;
}

#personalize-agent-option-sets-form .personalize-option-header {
  margin-left: 1em; /* LTR */
}

/* Configuration settings page */
.personalize-admin-cache-settings .form-item,
.personalize-admin-cache-settings .form-item label {
  display: inline-block;
}

.personalize-status-change *:not(option) {
  display: inline-block;
  margin-left: 1em;
}

/* Personalize campaign wizard forms */
/* Shouldn't have to do this but some forms actually override the display
   on inputs */
.personalize-wizard-process-bar-actions .element-hidden {
  display: none;
}
#personalize-campaign-wizard .personalize-wizard-section {
  width: 100%;
}
#personalize-campaign-wizard .personalize-wizard-section .personalize-wizard-column {
  float: left;
  width: 48%;
  margin: 1em;
}
#personalize-campaign-wizard .form-actions .description {
  font-size: .9em;
  color: #666;
}
/* Agent top level form */
#personalize-campaign-wizard #edit-agent-basic-info .form-item {
  padding: 0;
}
.personalize-wizard-section-title * {
  display: inline-block;
}
.personalize-wizard-section-title h2 {
  margin-right: 1em; /* LTR */
}
#personalize-campaign-wizard #edit-agent-basic-info .personalize-campaign-overview {
  float: right; /* LTR */
  padding: 0 1em;
}

.personalize-wizard-section .personalize-option-header h3,
.personalize-wizard-section .personalize-admin-enumerated-item {
  display:inline-block;
  margin-right: 1em; /* LTR */
}
.personalize-wizard-section .personalize-admin-enumerated-counter:after {
  content: ':';
}
/* Process bar */
#personalize-wizard-process-bar {
  margin-bottom: 1.2em;
}
#personalize-wizard-process-bar .personalize-wizard-navigation {
  border-bottom: 2px solid #999;
  padding: 0 1em;
}
#personalize-wizard-process-bar .personalize-wizard-navigation > ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0 0 .5em 0;
  display: inline-block;
  float: left;
}
#personalize-wizard-process-bar .personalize-wizard-navigation > ul li {
  padding: 1em 1em 0 1em;
  position: relative;
  display: block;
  float: left;
}
#personalize-wizard-process-bar li.personalize-wizard-navigation-current {
  border-bottom: 2px solid #0074BD;
}
#personalize-wizard-process-bar li.personalize-wizard-navigation-current a {
  text-decoration: none;
}
#personalize-wizard-process-bar li.personalize-wizard-navigation-current a:hover {
  cursor: default;
}
#personalize-wizard-process-bar li.personalize-wizard-navigation-disabled a,
#personalize-wizard-process-bar li.personalize-wizard-navigation-disabled a:hover {
  color: #999;
  cursor: default;
  text-decoration: none;
}
#personalize-wizard-process-bar .personalize-wizard-process-bar-actions {
  float: right;
}
#personalize-wizard-process-bar .personalize-wizard-process-bar-actions,
#personalize-wizard-process-bar .personalize-wizard-process-bar-actions > div {
  display: inline-block;
  position: relative;
}
#personalize-wizard-process-bar .personalize-wizard-process-bar-actions .personalize-wizard-action-links {
  position: absolute;
  right: .7em;
  border-color: #999;
  background-color: #fff;
}
/** Work-around for additional mark-up added by ember theme **/
#personalize-wizard-process-bar .personalize-wizard-process-bar-actions .ctools-dropbutton-wrapper {
  position: absolute;
  right: .7em;
}
#personalize-wizard-process-bar .personalize-wizard-process-bar-actions .ctools-dropbutton-wrapper .personalize-wizard-action-links {
  position: relative;
  right: 0;
}
/** End work around **/
#personalize-wizard-process-bar .personalize-wizard-process-bar-actions .personalize-wizard-action-links li {
  padding: .3em;
  white-space: nowrap;
}
#personalize-wizard-process-bar .personalize-wizard-process-bar-actions .personalize-wizard-action-links li:hover {
  background-color: #e6e9ed;
}
#personalize-wizard-process-bar .personalize-wizard-section-help {
  border-bottom: 1px solid #0074BD;
}
#personalize-wizard-process-bar .personalize-wizard-instructions {
  padding: .5em;
}
#personalize-wizard-process-bar .personalize-wizard-expanded-help {
  display: none;
}

.personalize-wizard-actions {
  padding-top: 1em;
}
/* Tabs */
.personalize-tabs-container.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  background: none;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}

.personalize-tabs-container.ui-tabs .ui-tabs-nav li.ui-tabs-selected a:hover {
  text-decoration: none;
}

.personalize-tabs-container.ui-tabs .ui-tabs-nav li a {
  background: none;
  font-weight: normal;
  color: inherit;
  cursor: pointer;
}

.personalize-tabs-container.ui-tabs .ui-tabs-nav li a:hover {
  text-decoration: underline;
}
/* Review screen */
.personalize-wizard-summary-item {
  margin-bottom: 2em;
  line-height: 1em;
}
.personalize-wizard-summary-item .personalize-wizard-summary-count,
.personalize-wizard-summary-item .personalize-wizard-summary-details {
  display: inline-block;
  vertical-align: middle;
}
.personalize-wizard-summary-item .personalize-wizard-summary-count {
  font-size: 4em;
  margin-right: .25em; /* LTR */
  line-height: 1em;
}
.personalize-wizard-summary-item .personalize-wizard-summary-details ul,
.personalize-wizard-summary-item .personalize-wizard-summary-details ul li {
  list-style-type: none;
}
