.panel-col-last .field-name-body {
  line-height: 1.25em;
  color: rgba(0, 0, 0, 0.6);
  width: 90%;
  @include window_size(desktop) {
    width: 85%;
    font-size: 1.143em;
    line-height: 1.35em;
  }
}

.panel-col-last .field-label {
  line-height: 1.25em;
  color:rgba(0,0,0,0.6);
  font-weight: 700;
  width: 90%;
  @include window_size(desktop){
    width: 85%;
    font-size: 1.143em;
    line-height: 1.35em;
  }
}