// Styles for the Featured Resources Widget

.pane-bundle-featured-resources h2.pane-title {
  display: none;
}

.featured-resources__container {
  margin-top: 1em;
  .featured-resources__block {
    width: 100%;
    background-color: #f7f7f7;
    margin: 1%;
    border-left: 2px solid $background-intro;
    @include window_size(desktop) {
      width: 279px;
    }
  }
  .featured-resources__block--inner {
    padding: 10px 20px 25px;
  }

  .featured-resources__title {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
    @include window_size(tab-wide-up){
      margin: 10px 0 15px;
    }
  }

  .featured-resources__button a {
    background: url("../images/icon_view.png") no-repeat;
    background-size: 100%;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-indent: -9999px;
    margin-top: 1em;
  }
}
